.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.main-nav a {
    font-weight: bold;
    color: #2c3e50;
}

.main-nav a.router-link-exact-active {
    color: #42b983;
}

.main-nav-logo {
    display: flex;
    align-items: center;
}

.main-nav-logo-image {
    max-width: 100%;
    width: 200px;
}

.linkHandle {
    text-decoration: none;
    cursor: pointer;
}

.linkHandle:hover {
    text-decoration: underline;
}

.main-nav-login {
    margin-right: 0.5rem;
}

.main-nav-login i {
    padding-right: 5px;
}

.main-nav-logout {
    display: flex;
    justify-content: flex-start;
}

.iconSignOutCont {
    margin-left: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: #2c3e50;
}

.iconUserCont {
    display: flex;
    align-items: center;
}

.iconUserCont img {
    margin-right: 5px;
}

.iconSignOutCont img {
    margin-right: 5px;
}

.main-nav-logout img {
    filter: invert(20%) sepia(18%) saturate(1019%) hue-rotate(169deg)
        brightness(100%) contrast(90%);
}
